body {
    background-color: #eeeeee;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.page {
    display: flex;
    flex-direction: column;
}

.content {
    max-width: 590px;
    margin: 0 auto;
}

a {
    color: #477ca7;
}

p {
    font-size: 16;
    text-align: center;
    margin: 50px;
    color: black;
}

h1 {
    font-size: 40;
    text-align: center;
    margin: 50px;
    color: black;
}

h2 {
    font-size: 19px;
    text-align: center;
    margin: 50px;
    color: black;
}

.phone_for_photo {
    background-color: #ffffff;
    margin: 0 auto;
}

.photo {
    /*не очень понимаю как оно работает - задать вопрос*/
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
}

.photo img {
    /*не очень понимаю как оно работает - задать вопрос*/
    width: 100%;
}

.left {
    text-align: left;
}

footer {
    /*не очень понимаю как оно работает - задать вопрос*/
    max-width: 590px;
    margin: 0 auto;
}