* {
    box-sizing: border-box;
    /*не очень понятно что это*/
}

body {
    background-color: rgb(228, 227, 227);
    padding: 0;
    /*работало и без этого*/
    margin: 0;
    /*работало и без этого*/
}

footer {
    height: 100px;
}

.page {
    display: flex;
    flex-direction: column;
    /*не очень понятно что это*/
    height: 100vh;
    /*работало и без этого*/
}

content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.text {
    text-align: center;
    font-family: 'Oranienbaum', serif;
    font-size: 20px;
    align-items: center;
    /*всё содержимое в центре*/
    max-width: 650px;
    /*ширина блока*/
    margin: 0 auto;
    /*внешний отступ для всех сторон, 0-значит центр*/
    padding: 10px/*внутренний отступ от всех сторон*/
}

.text_2 {
    /*див для текста "не по центру"*/
    font-family: 'Oranienbaum', serif;
    font-size: 20px;
    align-items: center;
    /*всё содержимое в центре*/
    max-width: 650px;
    /*ширина блока*/
    margin: 0 auto;
    /*внешний отступ для всех сторон, 0-значит центр*/
    padding: 10px;
    /*внутренний отступ от всех сторон*/
}

.photo {
    text-align: center;
    margin: 0 auto;
    box-shadow: 10px 10px 15px 10px rgb(135, 132, 132);
}

.photo2 {
    width: 310px;
    text-align: center;
    margin: 0 auto;
    box-shadow: 10px 10px 15px 10px rgb(135, 132, 132);
}

.forcard {
    align-items: center;
    /*всё содержимое в центре*/
    max-width: 350px;
    /*ширина блока*/
    margin: 0 auto;
    /*внешний отступ для всех сторон, 0-значит центр*/
    padding: 50px
    /*внутренний отступ от всех сторон*/
}

.inline {
    /*див блок для выравнивания контента в линию*/
    display: flex;
    justify-content: center;
}

.slider {
    display: flex;
    align-items: center;
    max-width: 900px;
    /*ширина блока*/
    margin: 0 auto;
    /*внешний отступ для всех сторон, 0-значит центр*/
    padding: 30px;
    justify-content: space-around;
}

.text-slider {
    text-align: center;
    font-family: 'Oranienbaum', serif;
    font-size: 50px;
}

.carousel-indicators {
    margin: 10px;
}

.forfooter {
    margin-top: 300px;
}

.work {
    text-align: center;
    margin: 50px;
}

.otstup {
    padding: 10px;
}