
        body {

            background-color:  rgb(214, 207, 207); /*фон*/

        }

        .text {
            
            text-align: center;

            font-family: 'Oranienbaum', serif;

            font-size: 20px;


        }

        .photo {
            text-align: center;
        }


        .card {
            Margin: 0 auto; 
        }

        .blok {
            align-items: center; /*всё содержимое в центре*/

            max-width: 350px; /*ширина блока*/

            margin: 0 auto; /*внешний отступ для всех сторон, 0-значит центр*/

            padding: 50px; /*внутренний отступ от всех сторон*/
        }

        .blok1 {
            align-items: center; /*всё содержимое в центре*/

            max-width: 550px; /*ширина блока*/

            margin: 0 auto; /*внешний отступ для всех сторон, 0-значит центр*/

            padding: 20px; /*внутренний отступ от всех сторон*/

            font-family: 'Oranienbaum', serif;

            font-size: 20px;
        }

        .blok2 {
            align-items: center; /*всё содержимое в центре*/

            max-width: 350px; /*ширина блока*/

            margin: 10px; /*внешний отступ для всех сторон, 0-значит центр*/

            padding: 30px; /*внутренний отступ от всех сторон*/
        }


        .blok3 {
            display: flex;

            justify-content: center;

           
        }
        
        .slider {
            display: flex;

            align-items: center;

            max-width: 900px; /*ширина блока*/

            margin: 0 auto; /*внешний отступ для всех сторон, 0-значит центр*/

            padding: 30px;

            justify-content: space-around;


        }


        .text-slider {
            
            text-align: center;

            font-family: 'Oranienbaum', serif;

            font-size: 50px;


        }
        
        .blok_vk {

            display: block;

            align-items: center; /*всё содержимое в центре*/

            max-width: 550px; /*ширина блока*/

    

            font-family: 'Oranienbaum', serif;

            font-size: 20px;
        }

        .carousel-indicators {

            margin: 10px;
        }

        
