
        body {

            background-color: rgb(201, 200, 200); /*фон*/

        }

        .text {
            color: rgb(0, 0, 0);

            text-align: center;

            font-family: 'Arsenal', sans-serif;

        }

        .photo {
            text-align: center;
        }


        .card {
            Margin: 0 auto; 
        }

        .blok {
            align-items: center; /*всё содержимое в центре*/

            max-width: 350px; /*ширина блока*/

            margin: 0 auto; /*внешний отступ для всех сторон, 0-значит центр*/

            padding: 50px; /*внутренний отступ от всех сторон*/
        }

        .blok1 {
            align-items: center; /*всё содержимое в центре*/

            max-width: 550px; /*ширина блока*/

            margin: 0 auto; /*внешний отступ для всех сторон, 0-значит центр*/

            padding: 50px; /*внутренний отступ от всех сторон*/
        }
        
